* {
	Font-Family: Sans-Serif;
}


body {
	display:flex;
	flex-direction: column;
	align-items: center;
}

 #title{
    width: 300px;
    margin: auto;
}

#login{
    text-align: center;
    font-size: 40px;
	margin: 0 0 50px 0;
	color:rgb(0, 0, 0);
	font-weight: bold;
}

/* #loginButton{
    width: 150px;
    margin: auto;
} */

/* #createButton{
    width: 150px;
    margin: auto;
} */

button {
	border: none;
	outline: none;
	padding: 15px;
	background: black;
	color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	margin-top: 40px;
	font-size: 16px;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 60px auto;
	background: rgb(206, 190, 166);
	padding: 50px;
	border-radius: 10px;
}

input {
	outline: none;
	border: none;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 10px;
}
